<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441390678942-kbv2sa93d68u21klje1ioo5ht9kk3d9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441390678942-kbv2sa93d68u21klje1ioo5ht9kk3d9i</string>
	<key>API_KEY</key>
	<string>AIzaSyA5dan0dXQ6vZInv-XlEiPBfY0gk-Mzw3o</string>
	<key>GCM_SENDER_ID</key>
	<string>441390678942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monik.nutriscan</string>
	<key>PROJECT_ID</key>
	<string>nutriscan-fbdf8</string>
	<key>STORAGE_BUCKET</key>
	<string>nutriscan-fbdf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441390678942:ios:80d845a2b97db374438c8f</string>
</dict>
</plist>